<%= simple_form_for([@cake, @line], remote: true) do |f| %>

  <div class="horizontal tabl-quantity">
    <%= hidden_field_tag :authenticity_token, @form_token %>
    <%= f.input :quantity, collection: Line::QUANTITY,:input_html => { class: "field", onchange: "this.form.submit();" }, label: false, include_blank: false %>
  </div>
<% end %>
