<div class="schemes">

  <!--Taille 5 -->
  <div class="selectable" data-size="5">
    <div class="cake-scheme3"></div>
    <div>
      <p>2 étages</p>
      <p>10 parts</p>
      <p>+ 20 parts</p>
    </div>
  </div>

  <!--Taille 4 -->
  <div class="selectable" data-size="4">
    <div class="cake-scheme3"></div>
    <div>
      <p>2 étages</p>
      <p>factice</p>
      <p>+ 20 parts</p>
    </div>
  </div>

  <!--Taille 3 -->
  <div class="selectable" data-size="3">
    <div class="cake-scheme3"></div>
    <div>
      <p>2 étages</p>
      <p>10 parts</p>
      <p>+ factice</p>
    </div>
  </div>

  <!--Taille 2 -->
  <div class="selectable" data-size="2">
    <div>
    <div class="adjust-cake-scheme2"></div>
    <div class="cake-scheme2"></div>
    </div>
    <div>
      <p>1 étage</p>
      <p>20 parts</p>
    </div>
  </div>

  <!--Taille 1 -->
  <div class="selectable" data-size="1">
    <div>
    <div class="adjust-cake-scheme1"></div>
    <div class="cake-scheme1"></div>
    </div>
    <div>
      <p>1 étage</p>
      <p>10 parts</p>
    </div>
  </div>

  <div class="targetSize"><p>Select your format</p></div>
</div>
