<div class="schemes">

  <!-- Frame -->
  <div class="selectable-custom" data-option="frame">
    <div class="custom-frame">
    </div>
  </div>

  <!-- Support -->
  <div class="selectable-custom" data-option="support">
    <div class="custom-ribbon">
    </div>
  </div>

</div>
