
  <% if current_user.addresses.exists? %>
    <div class="label">Phone</div>
    <p class="address-field"><%= format(@address.phone) %><p>
  <% end %>
  <div class="label">email</div>
    <p class="address-field"><%= @basket.user.email %><p>
  <div class="actions">
    <%= link_to "modifier email", edit_user_registration_path(@basket.user), class: "action" %>
  </div>
