<div class="takeaway">

  <div class="horizontal">
    <p class="ad-name">Safari Kivi</p>
    <p>Nina</p>
  </div>

  <div>
    <p>Rue des Gateaux</p>
    <p>06100</p>
    <p>Nice</p>
    <p>06 11 49 88 99</p>
  </div>

</div>
