
  <div class="horizontal">
    <p class="ad-name">Safari Kivi</p>
    <p>Nina</p>
  </div>
  <div>
    <p>Rue des Gateaux</p>
    <p></p>
    <div class="horizontal">
      <p>06100</p>
      <p>Nice</p>
    </div>
  </div>
