  <!-- Step one: add an empty container to your page -->
  <div id="dropin-container"></div>

  <script type="text/javascript">
  // call `braintree.dropin.create` code here
  </script>

  <button id="submit-button" class="button--small button--green">Purchase</button>
