 <div class="center">
  <div class="form">



    <h1>Paniers</h1>

    <% @baskets.each do |basket| %>

      <%= link_to basket_path(basket) do %>
        <p>Basket #<%= basket.id %></p>
        <p><%= basket.user.email %></p>
      <% end %>

    <% end %>
    <div class="button-wrapper">
      <%= link_to "Back", :back, class: "button" %>
    </div>


  </div>
</div>
