 <div class="left">
  <div class="show">
    <div>

      <% if current_user.admin? %>

        <%= render 'baskets/baskets_admin' %>

      <% else %>

        <%= render 'baskets/baskets_client' %>

      <% end %>


      <div class="button-wrapper">
        <%= link_to "Back", :back, class: "action" %>
      </div>

    </div>
  </div>
</div>
