
    <h3>Délai</h3>

    <p>Nous vous conseillons de commander vos gâteaux environ 2 semaines avant la date de votre événement.
    Cela nous laisse le temps de préparer toutes nos commandes personnalisées pour les livrer dans les délais.</p>

    <h3>Dimensions</h3>

    <p>Un gateau 1 étage , 10 parts mesure 10cm de hauteur et 15 cm de diamètre.
    Un gateau 1 etage, 20 parts, mesure 10 cm de hauteur et 20 cm de diamètre.</p>

    <h3>Allergies</h3>

    <p>Nos gâteaux contiennent : gluten, fruits à coques, oeufs, lait et autres éléments allergènes.</p>


    <h3>Conservation</h3>

    <p>Au réfrigérateur à température de +4°C.</p>

    <h3>Décors</h3>

    <p>Des pics en bois assurent le soutien de certains décors en pâte à sucre,
    merci de les retirer délicatement avant consommation.</p>

    <h3>Transport</h3>

    <p>Veillez à respecter la température de conservation recommandée +4°C et
    à poser votre gâteau à plat sur un support fixe si possible et
    à l'abri des chutes ou de collisions avec des objets.</p>

    <h3>Commande et annulations</h3>

    <p>Un gâteau commandé et non retiré à notre point de livraison plus de 48h après la date de livraison choisie sera jeté.
    Un gateau commandé et réglé via notre boutique en ligne ne pourra être:
    ni annulé, ni remboursé si vous changez d'avis.
    Toutefois, si vous annulez par écrit, au minimum 3 jours avant la date prévue de retrait,
    alors vous bénéficierez d'un avoir correspondant à la somme versée valable dans notre boutique pendant 1 an.</p>


    <h3>Responsabilité</h3>

    <p>Le non respect de ces règles de conservation pourrait entraîner d’éventuelles modifications du goût,
    des modifications, voire l'altération des décors, affectant la stabilité de votre gâteau.

    Nous ne pourrions être tenu responsables ni de mauvaises manipulations et utilisations de nos créations,
    ni du non respect de leurs conditions de conservations.</p>

    <h3>Personnalisation</h3>

    <p>Seuls les prénoms courts de 5 lettres au maximum peuvent être inscrits dans les cadres pour des raisons d’espace limité.
    Les prénoms plus longs sont inscrits sur le socle.</p>
