<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @user.addresses.last.surname %></p>

    <p>J'ai bien reçu votre règlement.</p>

    </p>Votre commande est en cours de préparation.</p>

    <%= @url %>

    <p>Cordialement</p>

    <p>Nina</p>
    <p>Gateau Violet</p>

  </body>
</html>
