  <div class="left">

    <%= link_to "Nouveau", new_cake_path %>

    <div class="products">
      <% @cakes.each do |cake| %>

        <%= render 'product', cake: cake %>

      <% end %>
    </div>
  </div>
