  <div class="left">

      <h1>Créations</h1>

      <div class="button-wrapper">
        <%= link_to "New", new_cake_path, class: "button" %>
      </div>

      <div class="products">
        <% @cakes.each do |cake| %>

          <%= render 'product', cake: cake %>

        <% end %>
      </div>

      <div class="button-wrapper">
        <%= link_to "Back", :back, class: "button" %>
      </div>

  </div>

  <%= console %>
