<div class="left">

  <%= render 'product', cake: @cake %>
  <div>
    <%= link_to 'edit', edit_cake_path %>
    <%= link_to 'delete', cake_path(@cake), method: :delete, data: { confirm: "Are you sure ?" } %>
  </div>
  <%= link_to 'back', :back %>
</div>
