<div class="footer">

      <div>
      <div class="social-network">
        <%= link_to "", "https://www.instagram.com/gateau_violet_nice/", class: "fab fa-instagram"  %>
      </div>
      <div>
        <p>Mention légale</p>
        <div>
          <p>Identification</p>
          <p>Conditions générales de vente</p>
        </div>

      </div>
      <div>
        <p>Service client</p>
      </div>
      <div>
        <p>Contact</p>
        <p>Livraisons</p>
      </div>
  </div>

</div>
