<div class="footer">

  <p>2022</p>

  <div class="social-network">
    <%= link_to "", "https://www.instagram.com/gateau_violet_nice/", class: "fab fa-instagram"  %>
  </div>
      <div></div>
      Suivez-nous
      <div></div>
      Mention légale
      <div></div>
      Conditions générales de vente
      <div></div>
      Contact
      <div></div>
      Livraisons
  </div>

</div>
