      <!-- query -->
      <% if current_page?(baskets_path) %>
        <form action="/baskets" accept-charset="UTF-8" method="get">
          <div class="search">
            <input id="query" type="search" name="query" class="search-box" value="" placeholder="<%= t('search.find_a_creation') %>" />
              <span class="search-button">
                <span class="search-icon"></span>
              </span>
            </div>
        </form>
      <% elsif current_page?(lines_path) %>
        <form action="/lines" accept-charset="UTF-8" method="get">
          <div class="search">
            <input id="query" type="search" name="query" class="search-box" value="" placeholder="<%= t('search.find_a_line') %>" />
              <span class="search-button">
                <span class="search-icon"></span>
              </span>
            </div>
        </form>
      <% else %>
        <form action="/cakes" accept-charset="UTF-8" method="get">
          <div class="search">
            <input id="query" type="search" name="query" class="search-box" value="" placeholder="<%= t('search.find_a_creation') %>" />
              <span class="search-button">
                <span class="search-icon"></span>
              </span>
            </div>
        </form>
      <%end %>
