.button {
  background: $violet;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  opacity: 1;
  border: 1px solid $violet;
  &:hover {
    background: white;
    border: 1px solid $violet;
    transition: all 0.5s ease;
  }
}

.button-wrapper {
  display: inline-block;
  margin:10px 0px;
}
