.button {
  background: $violet;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  opacity: 1;
  border: 1px solid $violet;
  margin-right: 10px;
  &:hover {
    color: $violet;
    background: white;
    border: 1px solid $violet;
    transition: all 0.5s ease;
  }
  &:focus {
    background: white;
    color: $violet;
    border: 2px solid $violet !important;
    box-shadow: 0px 0px 0px 0px $violet;
  }
}

.button-wrapper {
  display: inline-block;
  margin:10px 0px 10px 0px;

}

.activated {
  background-color: rgb(32, 133, 32);
  color: white;
  border-radius: 4px;
  width: 100px;
  padding: 5px 20px;
}

.inactivated {
  background-color: rgb(216, 138, 22);
  color: white;
  border-radius: 4px;
  width: 100px;
  padding: 5px 20px;
}
