.inprogress {
  background-color: $violet;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
}

.completed {

}

.noshow {
  display: none;
}

.flow {
  margin-bottom: 20px;
}

.space {
  margin: 0 20px;
}
