.form {
  padding: 20px 80px 80px 80px;
  margin: 20px 0;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
   @media(max-width: 768px) {
    padding: 5px;
  }
}


.field {
  &:hover {
    box-shadow: 0px 0px 0px 0px $violet;
    border: 1px solid $violet;
  }
}

#total {
  margin-right: 5px;
}

#line_quantity {
  width: 80px;
}

#delivery_date {
  width: 230px;
  background: $white;
}
