.form {
  padding: 20px 80px 80px 80px;
  margin: 20px 0;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  @media(max-width: 768px) {
    padding: 5px;
    width: 95vw;
  }
}

.form-control {
  font-size: 14px;
}

.field {
  &:hover {
    box-shadow: 0px 0px 0px 0px $violet;
    border: 1px solid $violet;
  }
}

label {
  font-size: $label-font-size;
  margin-bottom: 0.1rem;
  width: 250px;
}


.label {
  font-size: $label-font-size;
  margin-bottom: 0.1rem;
  width: 140px;
}

input, textarea {
  font-size: 14px;
}

#total {
  margin-right: 5px;
}

#line_quantity {
  width: 80px;
}

#delivery_date {
  width: 380px;
  background: $white;
}

#paymentType {
   width: 230px;
}

.flatpickr-day.selected {
  background: $violet;
  border-color: $violet;
  &:hover {
    background: white;
    border-color: $violet;
    color: $violet;
  }
}

.ap-dropdown-menu.ap-with-places {
  width:40vw;
  @media(max-width: 768px) {
  width: 90vw;
  }

}

.form svg {
  margin-right: 20px;
}

.capitalize {
  text-transform: capitalize;
}

#rotateable {
  display: flex;
  padding-right: 7px;
  width: 379px;
}

#line_flavour_id, #line_option {
  width: 380px;
}
