.navbar-violet {
  justify-content: space-between;
  background: rgb(58, 22, 120);
}

.navbar-violet .navbar-collapse {
  flex-grow: 0;
}

.navbar-violet .navbar-brand img {
  width: 40px;
  height: 40px;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-toggler { border-color: #008000; }
