.transaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media(max-width: 768px) {
      grid-template-columns: 90vw;
    }
  grid-gap: 25px;
  margin-top:10px;
}

.payment-instructions {
  border: 1px solid $line-color;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
}


.bank-details {
  color: green;
}

.label {
  font-size: 12px;
}
