.product {
  border-radius: 5px;
  p {
    font-size: 14px;
  }
}

.name {
  font-weight: bold;
}

.description {

}

.size {

}

.price {
  font-weight: bold;
}

.photo {
  width: 235px;
  height: 215px;
  object-fit: cover;
  @media(max-width: 768px) {
  width: 46vw;
  height: 46vw;
  }
}
