.product {
  border-radius: 5px;
  p {
    font-size: 14px;
  }
}

.photo {
  width: 235px;
  height: 215px;
  object-fit: cover;
  border-radius: 5px;
  object-fit: cover;
  @media(max-width: 768px) {
  width: 46vw;
  height: 46vw;
  }
}

.text {
  margin-top: 10px;
}

.name {
  font-weight: bold;
}

.description {
max-width: 240px;
text-justify: auto;
word-wrap: break-word;

}

.size {

}

.price {
  font-weight: bold;
}
