.product {
  width: 225px;
  border-radius: 5px;
  p {
    font-size: 14px;
  }
  @media(max-width: 768px) {
  width: 46vw;
  }
}

.photo {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 5px;
  @media(max-width: 768px) {
  width: 46vw;
  height: 46vw;
  }
}

.product-basket {
  display: flex;
}

.photo-basket {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.text {
  margin-top: 10px;
}

.name {
  font-weight: bold;
}

.description {
max-width: 240px;
text-justify: auto;
word-wrap: break-word;

}

.size {
}

.price {
  font-weight: bold;
}
