.cake-scheme3 {
  background-image: url('CakeScheme3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 75px;
  height: 100px;
}

.cake-scheme2 {
  background-image: url('CakeScheme2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 75px;
  height: 65px;
}

.cake-scheme1 {
  background-image: url('CakeScheme1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 75px;
  height: 60px;
}

.schemes {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px;
  gap: 5px;
  @media(max-width: 768px) {
    grid-template-columns: 160px 160px;
  }
}

.adjust-cake-scheme2 {
  height: 37px;
}

.adjust-cake-scheme1 {
  height: 42px;
}

.selectable {
  border-radius: 4px;
  width: 155px;
  display: flex;
  padding: 10px 5px 10px 5px;
  position: relative;
  &:hover {
    box-shadow: 0px 0px 5px $box-shadow-gray;
    cursor: pointer;
  }
  p {
    font-size: 12px;
  }
}

.selectable-custom {
  border-radius: 4px;
  width: 155px;
  display: flex;
  padding: 10px 5px 10px 5px;
  position: relative;
  &:hover {
    box-shadow: 0px 0px 5px $box-shadow-gray;
    cursor: pointer;
  }
  p {
    font-size: 12px;
  }
}

.dimensions-cake-scheme {
  margin-top: 50px;
}

.level-1 {
  color: #b235b2;
  margin-bottom: 2px;
  padding-bottom: 5px;
}

.level-2{
  border-top: 1px solid gray;
  padding-top: 5px;
  color: #7937aa;
}

.factice-top {
position: absolute;
top: 36px;
left: 21px;
color: white;
font-size: 12px;
}

.factice-bottom{
position: absolute;
top: 74px;
left: 21px;
color: white;
font-size: 12px;
}

.custom-frame {
  background-image: url('CakeCadre.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 75px;
  height: 60px;
}

.custom-ribbon {
  background-image: url('CakeSocle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 75px;
  height: 60px;
}
