.status-basket{
  padding: 5px 0px;
  background-color: #9f86a5;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
}

.status-delivery{
  padding: 5px 0px;
  background-color: #474280;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
}

.status-payment{
  padding: 5px 0px;
  background-color: #0a0080;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
}

.status-complete{
  padding: 5px 0px;
  background-color:#009332;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
}

.BankTransfer{

}

.Cash{

}

.Card{

}
