$width-number: 75px;
$width-string: 200px;

.tabl-name {
  margin-right: 10px;
  width: $width-string;
}

.tabl-price {
  margin-right: 10px;
  width: 50px;
}

.tabl-quantity {
  margin-right: 10px;
  width: 150px;
}

.tabl-total {
  margin-right: 10px;
  width: 65px;
}
