//line table

$width-number: 50px;
$width-string: 200px;
$margin-right: 10px;
$font-little: 0.75em;

.tabl-name {
  margin-right: $margin-right;
  width: $width-string;
}

.tabl-photo {
  margin-right: $margin-right;
  width: 90px;
}

.tabl-date {
  width: 200px;
   @media(max-width: 768px) {
    display: none;
  }
}

.tabl-date-smallscreen {
  width: 200px;
   @media(min-width: 769px) {
    display: none;
  }
}

.tabl-price {
  margin-right: $margin-right;
  width: $width-number;
}

.tabl-quantity {
  margin-right: $margin-right;
  width: 25px;
}

.tabl-total {
  margin-right: 5px;
  min-width: 90px;
  display: flex;
  align-items: center;
}

.tabl-icon {
  margin-right: $margin-right;
}

.basket-total {
  display: flex;
  justify-content: flex-end;
  padding: 20px 70px 0px 0px;
  border-top: 1px double black;
  font-weight: bold;
  font-size: 1.25em;
  p {
    margin-right: $margin-right;
  }
  margin-bottom: 0px;
}

//basket table

.tabl-id {
  width: 50px;
  margin-right: $margin-right;

}

.tabl-email {
  width: $width-string +30px;
  margin-right: $margin-right;
}

.tabl-status {
  width: 100px;
  margin-right: $margin-right;
}

.tabl-payment-type {
  width: 150px;
  margin-right: $margin-right;
}

.tabl-total {
  width: 150px;
  margin-right: $margin-right;
}

.label-quantity {
  font-size: 12px;
  margin: 5px 2px 12px 0
}
