// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  height:100vh;
}

.wrapper {
  height: 100vh
}

.horizontal {
  display: flex;
  align-items: center;
}

.sizer {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sheet {
  padding: 5px;
  margin: 20px 0;
  width: 500px;
  background-color: rgb(210, 202, 211);
  border-radius: 5px;
}

.push-right {
  flex-grow: 1;
}
